

<div class="layout" fxFlex="1 1 100%" fxLayout="column" >
    <div class="btn-panel"  fxLayout="row" >
        <button class="btn" (click)="login_op = true" [class.disabled]="!login_op" >Log In</button>
        <button class="btn" (click)="login_op = false" [class.disabled]="login_op" >Register</button>
    </div>
    <div class="content" fxFlex="0 1 100%" fxLayout="row" >
        
        <div *ngIf="login_op; else register_op" fxLayout="column" fxFlex="1 0 100%" fxLayoutAlign="center" >
            <h4 fxFlexAlign="center" [style.margine.top.px]="0" >Log In</h4>
            <form #loginForm="ngForm" novalidate (ngSubmit)="logIn(loginForm)" fxLayout="column" fxLayoutGap="10px" [style.height.px]="200" >

                <div class="no-borders no-paddings" fxFlexAlign="center" >
                    <label>email:</label><br />
                    <input name="email" type="text" required ngModel >
                </div>
                
                <div class="no-borders no-paddings" fxFlexAlign="center" >
                    <label>password:</label><br />
                    <input name="password" type="password" required ngModel >
                </div>
                
                <button class="btn" [disabled]="loginForm.invalid" type="submit" fxFlexAlign="center" >LogIn</button>
                
            </form>
        </div>
        
        <ng-template #register_op>
            <div fxLayout="column" fxFlex="1 0 100%" fxLayoutAlign="center" >
                <h4 fxFlexAlign="center" [style.margine.top.px]="0" >Register new user</h4>
                <form #addUserForm="ngForm" novalidate (ngSubmit)="addUser(addUserForm)" fxLayout="column" fxLayoutGap="10px" [style.height.px]="200" >
                    <div class="no-borders no-paddings" fxFlexAlign="center" >
                        <label>name:</label><br />
                        <input name="name" type="text" required ngModel >
                    </div>
        
                    <div class="no-borders no-paddings" fxFlexAlign="center" >
                        <label>email:</label><br />
                        <input name="email" type="text" required ngModel >
                    </div>
                    
                    <div class="no-borders no-paddings" fxFlexAlign="center" >
                        <label>password:</label><br />
                        <input name="password" type="password" required ngModel >
                    </div>
                    
                    <button class="btn" [disabled]="addUserForm.invalid" type="submit" fxFlexAlign="center" >Add User</button>
                    
                </form>
            </div>
        </ng-template>

    </div>
</div>