
div {
    border: 1px solid black;
    padding: 10px;
}
div.flex-container {
    display: flex;
    flex-direction: row;
}
div.flex-item {
    flex: 1 1 100px;
}
.right {
    margin-left: 10px;
}
.left {
    margin-right: 10px;
}

div.no-borders {
    border: 0px solid black;
}

button {
    margin-top: 10px;
    /* margin-left: 10px; */
}