<div fxLayout="column" fxFlex="1 1 100%" fxLayoutAlign="center" class="layout" > 

    <h4 fxFlexAlign="center" >Transactions:</h4>

    <div class="scroll-content" fxFlexAlign="center" >
        
        <table cellpadding="0" cellspacing="0" >
            <thead>
                <tr>
                    <th>Date</th><th>Recipient</th><th>Amount</th><th>Balance</th>
                </tr>
            </thead>
            <tbody *ngIf="appSvc?.transactions.length == 0">
                <tr>
                    <td colspan="4" style="padding: 10px;" >Transaction List is Empty</td>
                </tr>
            </tbody>
            <tbody *ngIf="appSvc?.transactions.length > 0" >
                <tr *ngFor="let t of appSvc.transactions; let i=index;" >
                    <td>{{t.date | date:"dd.MM.yyyy" }}</td>
                    <td>{{t.username}}</td>
                    <td [colorNum]="t.amount" class="number" >{{t.amount | positiveNum | number:'1.2-2' }}</td>
                    <td [colorNum]="t.balance" class="number" >{{t.balance | number:'1.2-2'}}</td>
                    <button class="btn copy-action" [routerLink]="'/new-trans'" [queryParams]="{'transId': t.id}" >Copy</button>
                </tr>
            </tbody>
        </table>

    </div>
    
</div>