<div class="flex-container" >
    <div class="flex-item" >
        <h3>New transaction:</h3>
    </div>
    <div class="flex-item" >
        <form novalidate #formNew="ngForm" >

            <div class="" >
                <label>User:</label>
                <div class="autocomplete" >
                    <div class="input" >
                        <input name="name" type="text" required ngModel autocomplete="off" (input)="onInputKeyUp(formNew)" >
                    </div>
                    <div class="suggestions" *ngIf="formNew?.controls?.name?.value && !recipient" >
                        <ul>
                            <li *ngFor="let item of data"
                                (click)="formNew.controls.name.setValue(item.name); recipient = item;" >
                                {{item.name + ", " + item.balance}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- TODO -->
            <div class="">
                <label>Amount:</label>
                <input name="amount" type="number" required ngModel autocomplete="of">
            </div>
        
        </form>
    </div>
    
</div>