<div class="layout-container" fxLayout="row" fxLayoutAlign="center center" >

  <div class="app-container" fxLayout="column" fxFlex="0 0 auto" >

    <div class="header">
      PW Application
    </div>

    <div *ngIf="appSvc?.authenticated" class="btn-panel" fxLayout="row" [style.padding-top.px]="2" >
      <button class="btn disabled" routerLink="/new-trans" routerLinkActive="active-route" >New trans.</button>
      <button class="btn disabled" routerLink="/trans-list" routerLinkActive="active-route" >Trans. List</button>
      <button class="btn disabled" routerLink="/user-info" routerLinkActive="active-route" >User Info</button>
      <button class="btn disabled" (click)="logOut()" >Log Out</button>
    </div>

    <div class="body" fxFlex="0 1 100%" fxLayout="column" fxLayoutAlign="center center" >
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
