<div class="layout" fxFlex="1 1 100%" fxLayout="column" >

    <div class="content" fxFlex="0 1 100%" fxLayout="row" >

        <div fxFlex="1 0 100%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" >

            <h4 fxFlexAlign="center" >User info:</h4>

            <div class="" fxFlexAlign="center" >
                <label>Name:</label>
                <label>{{(currentUser$ | async)?.name}}</label>
            </div>
            <div class="" fxFlexAlign="center" >
                <label>E-mail:</label>
                <label>{{(currentUser$ | async)?.email}}</label>
            </div>
            <div class="" fxFlexAlign="center" >
                <label>Balance:</label>
                <label>{{(currentUser$ | async)?.balance}}</label>
            </div>
            
            <button (click)="logOut()" class="btn" fxFlexAlign="center" >Log out</button>
        </div>

    </div>

</div>

